@use 'src/styles/colors';

.todos-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid colors.$bg-color;
    color: colors.$item-color;
    &:hover{
        background-color: colors.$item-hover-bg-color;
    }
    &.todos-item-completed{
        text-decoration: line-through;
        color: colors.$item-completed-color;
    }
    &:first-child{
        border-top: 2px solid colors.$bg-color;
    }

    .todos-item-desc {
        margin-left: 1rem;
    }
}