@use 'src/styles/colors';

.app {
  height: inherit;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: minmax(700px,0.5fr);
  grid-template-rows: 6rem 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$header-color;
  font-size: 3rem;
}
