.app-btn-group {
    .app-btn.app-btn-item {
        border-radius: 0px;
        border-bottom: 1px solid transparent;
        &.app-btn-item-selected {
            border-bottom: 1px solid grey;
        }
    }
}